<% @posts.each do |post| %>
	<div class="post">
		<div class="container">
			<p class="date"> <%= post.created_at.strftime("%b %d %Y") %></p>
			<h1 class="title"> <a href="/post/<%= post.id %>"><%= post.title %></a></h1>
			<p class="content"> <%= post.content %> </p>
		</div>
	</div>
<% end %>
